/.vs/mouse_crosshair/CopilotIndices/17.14.939.21063/CodeChunks.db
/.vs/mouse_crosshair/CopilotIndices/17.14.939.21063/SemanticSymbols.db
/.vs/mouse_crosshair/FileContentIndex/24b7b890-5d8a-4361-b03e-302a0d55c80e.vsidx
/.vs/mouse_crosshair/v17/.wsuo
/.vs/mouse_crosshair/v17/Browse.VC.db
/.vs/mouse_crosshair/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/out/build/*
