#include <windows.h>

101 ICON "icon.ico"

1 VERSIONINFO
FILEVERSION 1,0,1,0
PRODUCTVERSION 1,0,1,0

{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "FileVersion",        "1.0.1.0"
            VALUE "ProductVersion",     "1.0.1.0"
            VALUE "CompanyName",        "None"
            VALUE "FileDescription",    "Creat Mut Crosshair Lines"
            VALUE "LegalCopyright",     "Mikachu2333 Copyright (C) 2025 MIT LICENSE"
            VALUE "OriginalFilename",   "mch.exe"
            VALUE "ProductName",        "Mouse Crosshairer"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 0x04E4
    }
}
