name: autobuild

on:
    push:
        branches: ["main", "master"]
        # Ignore documentation and configuration changes
        paths-ignore:
            - ".github/**"
            - ".gitignore"
            - "*.md"
            - "**.txt"
            - "LICENSE"
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Setup Cpp
              uses: aminya/setup-cpp@v1
              with:
                  compiler: llvm
                  cmake: true
                  ninja: false
                  vcpkg: false

            - name: build
              shell: bash
              run: cmake --build ./build --config Release --target all -j 8 --

            - name: tree
              shell: bash
              run: tree ./ --all

            - name: Upload
              uses: actions/upload-artifact@v4
              with:
                  name: Mouse Crosshairer
                  path: ./mouse_crosshair.exe
